<div id="comment_container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: 'location.href', // 可选。默认为 location.href
  owner: 'liongoodvery',
  repo: 'liongoodvery.github.io',
  oauth: {
    client_id: '3d3f55c830c952042110',
    client_secret: '6e8bed05ceadfcd88465654cfe1d89ca6cf66a12',
  },
})
gitment.render('comment_container')
</script>